<div
  style="background-color: rgb(15%, 50%, 52%); color: white"
  class="d-center"
>
  <h1>{{ title }}</h1>
</div>
<div class="fondo">
  <div class="container mt-4 fondo">
    <div class="col-12 cardlist">
      <swiper
        effect="fade"
        [slidesPerView]="4"
        [spaceBetween]="50"
        [breakpoints]="breakPoints"
        [loop]="true"
        [autoplay]="200"
      >
        <ng-template *ngFor="let item of data" swiperSlide>
          <a href="#talentSearch" class="menuItems">
            <article class="cardSize">
              <figure class="cardImageContainer">
                <img class="cardImg" [src]="item?.background" />
              </figure>
              <div class="d-center">
                <ng-container *ngIf="item?.img">
                  <div class="d-center person">
                    <img class="image" [src]="item.img" [alt]="item.name" />
                  </div>
                </ng-container>
                <ng-container *ngIf="!item?.img">
                  <div class="d-center circleIcon">
                    <strong>{{item?.iconText}}</strong> <span [innerHTML]="item?.icon"></span>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngIf="!item?.name">
                <div  class="cardName">
                  <strong>{{item.name}}</strong>
                </div>
              </ng-container>
              <div class="cardText">
                <span>{{ item?.text }} </span>
              </div>
            </article>
          </a>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
