.carousel-item{
    height: 300px;
}
.image{
    object-fit: cover;
}

.carousel-item > img {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 40rem;
    margin: 0 auto;
}
.carousel-caption-background{
    width: 300pt;
    background-color: rgb(161, 81, 133);
    border-radius: 20px;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgb(15%, 50%, 52%);
}
.carousel-indicators .active {
    background-color:  rgb(161, 81, 133);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after{
    font-size: 55px;
    font-weight: 500;
}
.carousel-control-next-icon:after{
    content: '>';
    color:rgb(15%, 50%, 52%);
}

.carousel-control-prev-icon:after {
    content: '<';
    color:  rgb(161, 81, 133);;
}