<div class="container mt-4">
    <div class="col-12 cardlist ">
        <a href="#talentSearch" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\chilean_pole_sport.jpg">
            </figure> 
            <div class="cardText">
              <span>Chilean pole sport<strong> championship</strong>
                </span>
            </div>
          </article>
        </a>
        <a href="#psychoEvolution" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\chile_pole_championship.png">
            </figure> 
            <div class="cardText">
              <span><strong>Chile</strong> pole championship
              </span>
            </div>
          </article>
        </a>
        <a href="#organizationalDevelopment" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\panamerican_pole.png">
            </figure> 
            <div class="cardText">
              <span><strong>DESARROLLO</strong> ORGANIZACIONAL</span>
            </div>
          </article>
        </a>
        <a href="#trainingCoaching" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\amateur_pole.png">
            </figure> 
            <div class="cardText">
              <span>CAPACITACIÓN Y <strong>ENTRENAMIENTO</strong></span>
            </div>
          </article>
        </a>
        <a href="#jobhunter" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\elevate.jpg">
            </figure> 
            <div class="cardText">
              <span><strong>BLUE</strong> – JOBHUNTER</span>
            </div>
          </article>
        </a>
        <a href="#jobhunter" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\exoctic_doll.png">
            </figure> 
            <div class="cardText">
              <span><strong>BLUE</strong> – JOBHUNTER</span>
            </div>
          </article>
        </a>
        <a href="#jobhunter2" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" src="assets\images\competetion\en_equilibrio.jpg">
            </figure> 
            <div class="cardText">
              <span><strong>BLUE</strong> – JOBHUNTER</span>
            </div>
          </article>
        </a>
      </div>
</div>