.background {
  background-color: #f7f7f7;
  min-height: 80vh;
}
.modal-header {
  background-color: rgb(161, 81, 133);
  color: #fff;
  border-top-left-radius: 20pt;
  border-top-right-radius: 20pt;
  font-size: 10pt;
}

.info {
  padding: 5pt;
  margin-bottom: 5pt;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(15%, 50%, 52%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-youtube, .back, .btn, .labelFilter {
  color: rgb(15%, 50%, 52%);
}
.back{
    text-decoration: none;
    font-size: 14pt;
}
.border {
  border: 2px solid rgb(161, 81, 133) !important;
  margin-top: -0.1rem;
  border-bottom-left-radius: 20pt;
  border-bottom-right-radius: 20pt;
}
.btn:focus{
  box-shadow: none;
}
.btnCustom{
  color: #fff;
  cursor: pointer;
}
.labelFilter{
  font-size: 500;
}
.inputFilter {
  border-radius: 10px;
  margin-left: 6pt;
  border: 2px solid rgb(161, 81, 133);
  padding: 2px 6px;
  color: rgb(161, 81, 133);
}

.title {
  color: rgb(161, 81, 133);

}
