<div class="background">
  <img
    class="p-0 img d-none d-sm-none d-md-block"
    src="../../../assets/images/carousel/team.jpg"
  />
  <img
    class="p-0 img d-block d-sm-block d-md-none"
    src="../../../assets/images/carousel/teamSmall.jpg"
  />
  <span class="title"> INVICTVS<small> pole dance studio</small> </span>

  <ng-container>
    <div class="d-none d-sm-none d-md-block">
      <div class="titleBar d-center">
        <h1>Sedes</h1>
      </div>
      <div class="d-center">
        <a *ngFor="let item of sedeData" href="#talentSearch" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" [src]="item?.background" />
            </figure>
            <ng-container *ngIf="!item?.name">
              <div class="cardName">
                <strong>{{ item.name }}</strong>
              </div>
            </ng-container>
            <div class="cardText d-center">
              <span>{{ item?.text }} </span>
              <a *ngIf="item?.instagram" [href]="item.instagram" class="col-12">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="instagramName"> {{ item?.instagramName }} </span>
              </a>
            </div>
          </article>
        </a>
      </div>
      
    </div>
    <div class=" d-block d-sm-block d-md-none">
      <app-carousel [data]="sedeData" [title]="'Sedes'"></app-carousel>
    </div>
  </ng-container>

  <ng-container>
    <app-carousel
      [data]="classData"
      [title]="'Clases'"
      [color]="'rgb(161, 81, 133)'"
    ></app-carousel>
  </ng-container>
  <ng-container>
    <app-carousel [data]="instructursData" [title]="'Instructores'"></app-carousel>
  </ng-container>
  <ng-container>
    <app-carousel [data]="medalData" [title]="'Medallero'" [color]="'rgb(161, 81, 133)'"></app-carousel>
  </ng-container>
  <ng-container>
    <app-carousel [data]="eventsData" [title]="'Eventos'"></app-carousel>
  </ng-container>
</div>
