.img {
  object-fit: cover;
  width: 100vw;
  max-height: 184pt;
}
.title {
  position: relative;
  top: -12pt;
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  background: rgb(161, 81, 133);
  color: white;
  padding: 5pt;
}
.titleBar {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(15%, 50%, 52%);
  color: white;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  color: rgb(161, 81, 133);
  color: rgb(15%, 50%, 52%);
  font-family: "Montserrat", sans-serif;
}
/* Tarjetas cuadradas */
.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardSize {
  margin: 10px;
  width: 230px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f7f7f7;
}
.cardImageContainer {
  width: inherit;
}
.cardImg {
  width: inherit;
  height: 200px;
  object-fit: cover;
  transition: 1s;
}
.cardImg:hover {
  height: 250px;
}

.cardText {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  margin-top: -40pt;
  min-height: 100pt;
}

.cardText > a {
  text-align: left;
  color: rgb(161, 81, 133);
}
.instagramName {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  color: rgb(15%, 50%, 52%);
  padding: 5pt;
}
.cardName {
  margin-top: -30pt;
  text-align: center;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}
@media only screen and (max-width: 480px) {
  .h1,
  h1 {
    font-size: 1.5rem !important;
  }
  .title {
    font-size: 1.5rem !important;
  }
}
