<div class="background">
  <div class="d-none d-sm-none d-md-block">
    <app-carousel></app-carousel>
  </div>
  <ng-container> 
    <!-- <img class="col-md-3" src="../../../assets/images/carousel/invictvs.jpg" /> -->
    <!-- <app-header></app-header> -->
    <div class="menu d-center " >
        <ul class="d-center p-0">
            <li
              *ngFor="let section of sectionList"
              [ngClass]="active === section ? 'active' : ''"
              (click)="setActive(section)"
              class="row menuText"
            >   
              <span> {{ section }}</span>
            </li>
          </ul>
    </div>
  </ng-container>
  <ng-container *ngIf="active === 'Inicio' ">
    <div class="container mt-5">
      <div class="d-flex flex-wrap">
        <img class="d-none d-sm-none d-md-block col-md-3" src="../../../assets/images/carousel/invictvs.jpg" />
        <div class="col-md-8">
          <h1 class="d-none d-sm-none d-md-block">INVICTVS<small> pole dance studio</small></h1>
          <p>
            Invictvs pole dance studio es una de las mejores escuela del mundo
            ok, y se preguntaran por que? bueno porque yo lo digo y punto att:
            ori
          </p>
          <p>
            Actualmente cuenta con 2 sedes la primera en la comuna de la reina
            en la region metropolitana y la otra en temuco
          </p>
          <p>Oriana es mala para los textos oops</p>
        </div>
      </div>
      <div>Eventos</div>
      <div>Certificaciones</div>
    </div>
  </ng-container>
  <ng-container  *ngIf="active === 'Medallero' ">
      <app-medals></app-medals>
  </ng-container>
  <ng-container  *ngIf="active === 'Instructores' ">
      <app-instructors></app-instructors>
  </ng-container>
  <ng-container  *ngIf="active === 'Eventos' ">
      <app-events></app-events>
  </ng-container>
</div>
