<nav class="navbar navbar-expand-lg d-center">
    <!-- <a class="navbar-brand" href="#">Invictvs</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="/home" routerLinkActive="active">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/medallas" routerLinkActive="active">Medallas</a>
        </li>
        <li class="nav-item">
          <a routerLink="/instructores" routerLinkActive="active">Instructores</a>
        </li>
        <li class="nav-item">
          <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
        </li>
      </ul>
    </div>
    <!-- <img class="logoWatts" src="../../../assets/img/products/logowatts.png"> -->
  </nav>
