<div class="container mt-4 fondo">
    <div class="col-12 cardlist ">
        <a *ngFor="let item of data"
         href="#talentSearch" class="menuItems">
          <article class="cardSize">
            <figure class="cardImageContainer">
              <img class="cardImg" [src]="item.background">
            </figure> 
            <div class="d-center">
                <div class="d-center person">circle
                      <img class="image" [src]="item.img" [alt]="item.name">
                </div>
                
            </div>
            <div class="cardText">
              <span>{{item.text}}
                </span>
            </div>
        </article>
        </a>
        
      </div>
</div>